@font-face {
    font-family: "work-sans";
    src: url(../fonts/work-sans/WorkSans-Regular.ttf) format("truetype");
}
@font-face {
    font-family: "space-mono";
    src: url(../fonts/space-mono/space-mono-regular.ttf) format("truetype");
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
img {
    display: block;
    /* width: 100%; */
}

:root {
    /* colors */
    --primary: #A259FF;
    --light: #FFFFFF;
    --semi-light: #858584;
    --dark: #2B2B2B;
    --semi-dark: #3B3B3B;
    --label-text: #858584;

    /* fonts */
    --first-level-heading-size: 67px;
    --second-level-heading-size: 51px;
    --third-level-heading-size: 38px;
    --fourth-level-heading-size: 28px;  
    --fifth-level-heading-size: 22px;  
}

/* utility classes */
.container {
    width: 90%;
    max-width: 1050px;
    margin: 0 auto;
}

.relative {
    position: relative;
}
.d-block {
    display: block;
}
.d-inline {
    display: inline;
}
.d-inline-block {
    display: inline-block;
}
/* flex */
.d-flex {
    display: flex;
}
.justify-between {
    justify-content: space-between;
}
.justify-center {
    justify-content: center;
}
.align-center {
    align-items: center;
}
.flex-column {
    flex-direction: column;
}
.align-self-end {
    align-self: flex-end;
}
.flex-wrap {
    flex-wrap: wrap;
}





body {
    background-color: var(--dark);
}
h1 {
    font-family: 'work-sans';
}
section {
    padding-block: 80px;
    font-family: 'work-sans';
    color: var(--light);
    & .section-header {
        margin-bottom: 60px;
    }
    & h2 {
        font-size: var(--third-level-heading-size);
        @media (max-width: 1060px) {
            font-size: var(--fourth-level-heading-size);

        }
    }
    & p {
    }
}


header {
    padding: 20px 50px;
    color: var(--light);
    & .logo {
        & a {
            gap: 12px;
        }
    }
    & nav {
        font-family: "work-sans";
        & ul {
            gap: 10px;
            & li {

                &:last-child {
                    & a {
                        background-color: var(--primary);
                        padding: 20px 30px;
                        border-radius: 20px;
                        gap: 12px;
                    }
                }
                & a {
                    padding: 12px 20px;
                }
            }
        }
    }
    & .burger-wrapper {
        display: none;
        cursor: pointer;
        transition-duration: .5s;
        &:hover {
            transform: rotate(360deg);
            & img {
                transform: scale(1.2);
            }
        }
        & img {
            transition-duration: .5s;
        }
    }
}

section.welcome {
    color: var(--light);
    
        & .welcome-wrapper {
            gap: 20px;
            @media (max-width: 740px) {
                flex-direction: column;
                gap: 60px;
            }
            & .welcome-content {
                max-width: 510px;
                @media (max-width: 900px) {
                    width: 330px;
                }
                @media (max-width: 740px) {
                    width: 100%;
                }
                & h1 {
                    font-size: var(--first-level-heading-size);
                    color: var(--light);
                    margin-bottom: 20px;
                    width: 90%;
                    @media (max-width: 1160px) {
                        font-size: var(--second-level-heading-size);
                    }
                    @media (max-width: 1080px) {
                        font-size: var(--third-level-heading-size);
                    }
                }
    
                & p {
                    margin-bottom: 30px;
                    width: 90%;
                }
    
                & button {
                    background-color: var(--primary);
                    color: var(--light);
                    padding: 20px 50px;
                    border-radius: 20px;
                    margin-bottom: 30px;
                    gap: 12px;
                    cursor: pointer;
                }
    
                & .statistic {
                    gap: 30px;
                    
                    & .stat-number {
                        font-size: var(--fourth-level-heading-size);
                        font-family: 'space-mono';
                        font-weight: bold;
                        @media (max-width: 1080px) {
                            font-size: var(--fifth-level-heading-size);
                        }
                    }
    
                    & .stat-text {
                        font-family: 'work-sans';
                        font-size: 24px;
                        @media (max-width: 1080px) {
                            font-size: 1rem;
                        }
                    }
                }
            }
    
            & .welcome-image {
                @media (max-width: 740px) {
                    width: 90%;
                }
                & .most-popular-nft {
                    & img {
                        width: 100%;
                        @media (max-width: 1060px) {
                            width: 330px;
                        }
                        @media (max-width: 740px) {
                            width: 100%;
                        }
                    }
    
                    & .nft-info {
                        background-color: var(--semi-dark);
                        padding: 22px 20px;
                        border-bottom-left-radius: 20px;
                        border-bottom-right-radius: 20px;
    
                        & h3 {
                            font-size: var(--fifth-level-heading-size);
                            margin-bottom: 10px;
                        }
    
                        & .creator {
                            gap: 12px;
    
                            & img {
                                width: 24px;
                            }
    
                            & strong {}
                        }
                    }
                }
            }
    }
}

section.trending-colletions {
    & .section-header {
        & h2 {
            margin-bottom: 10px;
        }
    }
    & .collections-wrapper {
        gap: 20px;
        @media (max-width: 1159px){
            gap: 50px 20px;
        }
        & .collection-card {
            @media (max-width: 768px) {
                background-color: var(--semi-dark);
                padding: 20px;
                border-radius: 20px;
            }
            & .card-images {
                & > img {
                    margin-bottom: 15px;
                    @media (max-width: 430px) {
                        width: 100%;
                    }
                }
                & .card-thumbnails {
                    gap: 15px;
                    @media (max-width: 430px) {
                        flex-wrap: wrap;
                        justify-content: center;
                    }
                    & a {
                        font-family: 'space-mono';
                        font-size: var(--fifth-level-heading-size);
                        border-radius: 20px;
                        padding: 32px 16px;
                        background-color: var(--primary);
                    }
                }
            }
            & .card-info {
                margin-top: 15px;
                & h3 {

                }
                & .creator {
                    gap: 12px;
                    margin-top: 10px;
                    & strong {
                        font-weight: 400;
                    }
                }
            }
        }
    }
}


section.top-creators {
    & .section-header {
        @media (max-width: 960px) {
            flex-direction: column;
            gap: 30px;
            & > div {
                align-self: flex-start;
            }
            & > a {
                align-self: flex-end;
            }
        }
        & h2 {
            margin-bottom: 10px;
        }
        & a {
            gap: 12px;
            padding: 20px 50px;
            border-radius: 20px;
            border: 2px solid var(--primary);
            & svg {
                & path {
                    fill: var(--primary);
                }
            }
        }
    }
    & .top-creators-wrapper {
        gap: 30px;
        @media (max-width: 1050px) {
            justify-content: center;
            gap: 40px;
        }
        & .creator-card {
            position: relative;
            background-color: var(--semi-dark);
            max-width: 240px;
            padding: 20px;
            border-radius: 20px;
            gap: 20px;
            & > img {

            }
            & .card-info {
                & h3 {
                    margin-bottom: 5px;
                    font-size: var(--fifth-level-heading-size);
                }
                & .earnings {
                    gap: 10px;
                    & .total-sales {
                        text-transform: capitalize;
                        color: var(--label-text);
                    }
                    & .creator-earnings {
                        font-family: 'space-mono';
                    }
                }
            }
            & .rank-badge {
                position: absolute;
                top: 20px;
                left: 20px;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background-color: var(--dark);
                color: var(--label-text);
  
            }
        }
    }

}

section.browse-categories {



    & .categories-wrapper {
        gap: 30px;
        @media (max-width: 1182px) {
            justify-content: center;
            gap: 40px;
        }
        & li {

            &:nth-child(1) {
                & .category-header {
                    background-image: url(../img/categories/category-art-cover.png);
                }
            }
            &:nth-child(2) {
                & .category-header {
                    background-image: url(../img/categories/category-collectibles-cover.png);
                }
            }
            &:nth-child(3) {
                & .category-header {
                    background-image: url(../img/categories/category-music-cover.png);
                }
            }
            &:nth-child(4) {
                & .category-header {
                    background-image: url(../img/categories/category-photography-cover.png);
                }
            }

            &:nth-child(5) {
                & .category-header {
                    background-image: url(../img/categories/category-art-cover.png);
                }
            }
            &:nth-child(6) {
                & .category-header {
                    background-image: url(../img/categories/category-collectibles-cover.png);
                }
            }
            &:nth-child(7) {
                & .category-header {
                    background-image: url(../img/categories/category-music-cover.png);
                }
            }
            &:nth-child(8) {
                & .category-header {
                    background-image: url(../img/categories/category-photography-cover.png);
                }
            }

            & a {
                display: inline-block;
                width: 240px;
                @media (max-width: 1182px) {
                        width: auto;
                        /* height: 240px; */
                    }
                &:hover {
                    & .layer {
                        
                        & img {
                            transform: scale(1.5);
                        }
                    }
                }
                & .category-header {
                    width: 240px;
                    height: 240px;
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    @media (max-width: 1182px) {
                        width: 150px;
                        height: 142px;
                    }
                    & .layer {
                        width: 100%;
                        height: 100%;
                        backdrop-filter: blur(15px);
                        border-radius: 20px 20px 0 0;
                        & img {
                            transition-duration: .4s;
                            @media (max-width: 1182px) {
                                width: 80px;
                            }
                        }
                    }

                }

                & .category-footer {
                    padding: 20px 30px;
                    background-color: var(--semi-dark);
                    border-radius: 0 0 20px 20px;
                    @media (max-width: 1182px) {
                        padding: 20px;
                    }
                    & h4 {
                        font-size: var(--fifth-level-heading-size);
                        @media (max-width: 1182px) {
                        font-size: 1rem;
                    }
                    }
                }

            }
        }
    }
}



@media (max-width: 1159px) {
    .welcome-wrapper {
        /* & .welcome-content {
            width: 48%;
        } */
        & .welcome-image {
            /* width: 330px; */
        }
    }
    .collections-wrapper {
        justify-content: space-evenly;
    }

}

@media (max-width: 960px) {

    header {
        padding-block: 15px;
        
        & nav {
            display: none;  
        }
        & .burger-wrapper {
            display: block;
        }   
    }
}

@media (max-width: 480px) {
    header {
        padding-inline: 30px;
    }
}