section.welcome {
    color: var(--light);
    
        & .welcome-wrapper {
            gap: 20px;
            @media (max-width: 740px) {
                flex-direction: column;
                gap: 60px;
            }
            & .welcome-content {
                max-width: 510px;
                @media (max-width: 900px) {
                    width: 330px;
                }
                @media (max-width: 740px) {
                    width: 100%;
                }
                & h1 {
                    font-size: var(--first-level-heading-size);
                    color: var(--light);
                    margin-bottom: 20px;
                    width: 90%;
                    @media (max-width: 1160px) {
                        font-size: var(--second-level-heading-size);
                    }
                    @media (max-width: 1080px) {
                        font-size: var(--third-level-heading-size);
                    }
                }
    
                & p {
                    margin-bottom: 30px;
                    width: 90%;
                }
    
                & button {
                    background-color: var(--primary);
                    color: var(--light);
                    padding: 20px 50px;
                    border-radius: 20px;
                    margin-bottom: 30px;
                    gap: 12px;
                    cursor: pointer;
                }
    
                & .statistic {
                    gap: 30px;
                    
                    & .stat-number {
                        font-size: var(--fourth-level-heading-size);
                        font-family: 'space-mono';
                        font-weight: bold;
                        @media (max-width: 1080px) {
                            font-size: var(--fifth-level-heading-size);
                        }
                    }
    
                    & .stat-text {
                        font-family: 'work-sans';
                        font-size: 24px;
                        @media (max-width: 1080px) {
                            font-size: 1rem;
                        }
                    }
                }
            }
    
            & .welcome-image {
                @media (max-width: 740px) {
                    width: 90%;
                }
                & .most-popular-nft {
                    & img {
                        width: 100%;
                        @media (max-width: 1060px) {
                            width: 330px;
                        }
                        @media (max-width: 740px) {
                            width: 100%;
                        }
                    }
    
                    & .nft-info {
                        background-color: var(--semi-dark);
                        padding: 22px 20px;
                        border-bottom-left-radius: 20px;
                        border-bottom-right-radius: 20px;
    
                        & h3 {
                            font-size: var(--fifth-level-heading-size);
                            margin-bottom: 10px;
                        }
    
                        & .creator {
                            gap: 12px;
    
                            & img {
                                width: 24px;
                            }
    
                            & strong {}
                        }
                    }
                }
            }
    }
}

section.trending-colletions {
    & .section-header {
        & h2 {
            margin-bottom: 10px;
        }
    }
    & .collections-wrapper {
        gap: 20px;
        @media (max-width: 1159px){
            gap: 50px 20px;
        }
        & .collection-card {
            @media (max-width: 768px) {
                background-color: var(--semi-dark);
                padding: 20px;
                border-radius: 20px;
            }
            & .card-images {
                & > img {
                    margin-bottom: 15px;
                    @media (max-width: 430px) {
                        width: 100%;
                    }
                }
                & .card-thumbnails {
                    gap: 15px;
                    @media (max-width: 430px) {
                        flex-wrap: wrap;
                        justify-content: center;
                    }
                    & a {
                        font-family: 'space-mono';
                        font-size: var(--fifth-level-heading-size);
                        border-radius: 20px;
                        padding: 32px 16px;
                        background-color: var(--primary);
                    }
                }
            }
            & .card-info {
                margin-top: 15px;
                & h3 {

                }
                & .creator {
                    gap: 12px;
                    margin-top: 10px;
                    & strong {
                        font-weight: 400;
                    }
                }
            }
        }
    }
}


section.top-creators {
    & .section-header {
        @media (max-width: 960px) {
            flex-direction: column;
            gap: 30px;
            & > div {
                align-self: flex-start;
            }
            & > a {
                align-self: flex-end;
            }
        }
        & h2 {
            margin-bottom: 10px;
        }
    }
    & .top-creators-wrapper {
        gap: 30px;
        @media (max-width: 1050px) {
            justify-content: center;
            gap: 40px;
        }
        & .creator-card {
            position: relative;
            background-color: var(--semi-dark);
            max-width: 240px;
            padding: 20px;
            border-radius: 20px;
            gap: 20px;
            & > img {

            }
            & .card-info {
                & h3 {
                    margin-bottom: 5px;
                    font-size: var(--fifth-level-heading-size);
                }
                & .earnings {
                    gap: 10px;
                    & .total-sales {
                        text-transform: capitalize;
                        color: var(--label-text);
                    }
                    & .creator-earnings {
                        font-family: 'space-mono';
                    }
                }
            }
            & .rank-badge {
                position: absolute;
                top: 20px;
                left: 20px;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background-color: var(--dark);
                color: var(--label-text);
  
            }
        }
    }

}

section.browse-categories {

    & .categories-wrapper {
        gap: 30px;
        @media (max-width: 1182px) {
            justify-content: center;
            gap: 40px;
        }
        & li {

            &:nth-child(1) {
                & .category-header {
                    background-image: url(../img/categories/category-art-cover.png);
                }
            }
            &:nth-child(2) {
                & .category-header {
                    background-image: url(../img/categories/category-collectibles-cover.png);
                }
            }
            &:nth-child(3) {
                & .category-header {
                    background-image: url(../img/categories/category-music-cover.png);
                }
            }
            &:nth-child(4) {
                & .category-header {
                    background-image: url(../img/categories/category-photography-cover.png);
                }
            }

            &:nth-child(5) {
                & .category-header {
                    background-image: url(../img/categories/category-art-cover.png);
                }
            }
            &:nth-child(6) {
                & .category-header {
                    background-image: url(../img/categories/category-collectibles-cover.png);
                }
            }
            &:nth-child(7) {
                & .category-header {
                    background-image: url(../img/categories/category-music-cover.png);
                }
            }
            &:nth-child(8) {
                & .category-header {
                    background-image: url(../img/categories/category-photography-cover.png);
                }
            }
            & a {
                display: inline-block;
                width: 240px;
                @media (max-width: 1182px) {
                        width: auto;
                        /* height: 240px; */
                    }
                &:hover {
                    & .layer {
                        
                        & img {
                            transform: scale(1.5);
                        }
                    }
                }
                & .category-header {
                    width: 240px;
                    height: 240px;
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    @media (max-width: 1182px) {
                        width: 150px;
                        height: 142px;
                    }
                    & .layer {
                        width: 100%;
                        height: 100%;
                        backdrop-filter: blur(15px);
                        border-radius: 20px 20px 0 0;
                        & img {
                            transition-duration: .4s;
                            @media (max-width: 1182px) {
                                width: 80px;
                            }
                        }
                    }

                }

                & .category-footer {
                    padding: 20px 30px;
                    background-color: var(--semi-dark);
                    border-radius: 0 0 20px 20px;
                    @media (max-width: 1182px) {
                        padding: 20px;
                    }
                    & h4 {
                        font-size: var(--fifth-level-heading-size);
                        @media (max-width: 1182px) {
                        font-size: 1rem;
                    }
                    }
                }

            }
        }
    }
}

section.discover-nfts {

    & .section-header {

    }
    & .discover-nfts-wrapper {
        gap: 50px 30px;
        & .trending-nft-card {
            border-radius: 20px;
            background-color: var(--semi-dark);
            & .card-header {

            }
            & .card-footer {
                padding: 20px 30px 25px;
                & h3 {
                    font-size: var(--fifth-level-heading-size);
                    margin-bottom: 5px;
                }
                & .author {
                    gap: 12px;
                    margin-bottom: 25px;
                    & h4 {
                        font-family: 'space-mono';
                        font-size: 1rem;
                        font-weight: 400;
                    }
                }
                & .label {
                    color: var(--label-text);
                    font-family: 'space-mono';
                    font-size: 12px;
                }
                & .price, .highest-bid  {
                    & .value {
                        font-size: 1rem;
                        font-family: 'space-mono';
                        font-weight: 400;  
                    }
                }

            }
        }
    }
}


section.live-auction {
    height: 900px;
    background-image: url(../img/nft-highlight-mushroom.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    & .layer {
        position: absolute;
        inset: 0;
        background: linear-gradient(transparent, var(--primary));;
        & .auction-data {
            height: 100%;
            align-items: flex-end;
            padding-bottom: 50px;
        & .item-data {
            & .nft-author {
                display: inline-flex;
                padding: 10px 20px;
                background-color: var(--semi-dark);
                border-radius: 20px;
                gap: 12px;
                margin-bottom: 30px;
            }
            & h3 {
                font-size: var(--second-level-heading-size);
                margin-bottom: 30px;
            }
            & a {
                display: inline-flex;
                gap: 12px;
                background-color: var(--light);
                color: var(--dark);
                padding: 20px 50px;
                border-radius: 20px;
            }
        }
        & .timer {
            background-color: rgba(59, 59, 59, 0.5);
            border-radius: 20px;
            padding: 30px;
            font-family: 'space-mono';
            & .timer-title {
                margin-bottom: 10px;
            }
            & .countdown-wrapper {
                gap: 38px;
                & .values-row {
                    gap: 16px;
                    margin-bottom: 5px;
                }
                & .labels-row  {
                
                }
                & .value {
                    font-size: var(--third-level-heading-size);
                    font-weight: bold;
                }
                & .label {
                    font-size: 12px;
                    text-transform: capitalize;
                }
                & .value.minues {
                    
                }
            }
        }
    }
    }
}

section.how-it-works {
    & .section-header {
        & h2 {
            margin-bottom: 10px;
        }
    }
    & .cards-wrapper {
        gap: 30px;
        @media (max-width: 1182px) {
            justify-content: center;
            gap: 40px;
        }
        & .card {
            background-color: var(--semi-dark);
            padding: 30px;
            max-width: 330px;
            border-radius: 20px;
            & img {
                margin-bottom: 20px;
            }
            & h3 {
                margin-bottom: 10px;
                font-size: var(--fifth-level-heading-size);
            }
            & p {

            }
        }
    }
}

section.weekly-digest {
    & .wrapper {
        background-color: var(--semi-dark);
        padding: 60px;
        border-radius: 20px;
        gap: 80px;
        @media (max-width: 1125px) {
                gap: 40px;
                padding: 30px;
            }  
        & .cover-image-wrapper {
            @media (max-width: 1125px) {
                    min-width: 300px;
                }
            & img {
                width: 100%;
            }
        }
        & .join-us-wrapper {
            max-width: 425px;
            & h2 {
                margin-bottom: 10px;
            }
            & p {
                font-size: 22px;
                margin-bottom: 40px;
            }
            & form {
                background-color: var(--light);
                border-radius: 20px;
                & label {
                    width: 55%;
                    border-radius: 20px;
                    & input {
                        width: 100%;
                        padding: 20px;
                        border: none;
                        border-radius: 20px;
                        background-color: transparent;
                        border: 2px solid transparent;
                        outline: none;
                        &::placeholder {
                            color: var(--dark);
                        }
                        &:focus-visible {
                            border: 2px solid var(--primary);
                        }
                    }
                }
                & button {
                    border: none;
                    background-color: var(--primary);
                    color: var(--light);
                    padding: 20px 50px;
                    border-radius: 20px;
                    gap: 12px;
                    cursor: pointer;
                    font-weight: bold;
                }
            }
        }
    }
}
